#container{
	margin: 5px;
	background-color: #CEF6CE;
}
/*main Headline */
h1{
	max-width:700px;
	margin:0 auto;
	background-color:#01DFA5;
}
/*menu*/
nav{
	position:relative;
	float: right;
	right:0;
	top:0;
	margin: 40px 20px;
}
ol{
	list-style-type: none;
	
}
li{
	background-color: #179432;
	border: 3px;
	border-radius: 4px;
	padding:7px 10px;
	margin:10px;
}
/*section*/
section{
	width: 900px;
}
/*link*/
a{
	text-decoration:none;
	color:inherit;
}
